.card {
    background-color: red;
    color: blue;
    padding:20px;
    margin: 20px;
}

/*********

A) INLINE STYLE
B) CLASS (.className)
C) ID SELECTOR (#selectorName)

HEXCODE: 0 1 2 3 4 5 6 7 8 9 A B C D E F
**/
body {
    font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h2 {
    color: red; 
}
#header {
    color: white; 
}
.page-title {
    font-size:40px;
   color: #000000; 
}
.btn{
    background-color: darkgrey;
    color: darkslateblue;
    padding: 10px;
}